@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #e2e2e2;
  color: #000;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.5em;
  padding: 1rem;
}

p {
  margin-top: 0;
}

a {
  font-size: 1rem;
  color: #fff;
  background-color: #555;
  border-radius: 4px;
  text-decoration: none;
  padding: .5em .75em;
  display: inline-block;
}

.img-flex {
  width: 100%;
  display: block;
  padding-top: 1rem;
}

.content {
  padding-left: 1rem;
}

.btn:hover {
  background-color: #000;
}

@media only screen and (min-width: 25em) {

  div {
    text-align: left;
    padding: 0;
  }

}

@media only screen and (min-width: 38em) {

  html {
    line-height: 1.4;
    font-size: 110%;
  }

  section {
    display: inline-block;
    display: flex;
  }

  h1 {
    padding: 0;
    margin-top: 2rem;
    padding-bottom: .1em;
  }

  p {
    padding-bottom: .4em;
  }

  .content {
    max-width: 45%;
    text-align: left;
    margin-left: .2em;
  }

  .image {
    max-width: 55%;
    padding-left: 1rem;
    padding-top: 2.8em;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .content {
    vertical-align: middle;
  }

  .btn {
    text-align: center;
  }

}
